MONGO_URI="paste your mongodb connection string here"
PORT="paste your desired port number here"
CLOUDNARY_CLOUD_NAME="paste your cloudinary cloud name here"
CLOUDNARY_API_KEY="paste your cloudinary api key here"
CLOUDNARY_API_SECRET="paste your cloudinary api secret here"
CLOUDNARY_FOLDER_NAME="paste your cloudinary folder name here"
